{% load static %}

<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- <link rel="stylesheet" type="text/css" href="style.css"> -->
	<link rel="stylesheet" href="{% static 'css/style.css' %}">


	<title>ummuani</title>
	<link rel="stylesheet" href="https://unpkg.com/swiper@8/swiper-bundle.min.css" />
    
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.15.4/css/all.css" integrity="sha384-DyZ88mC6Up2uqS4h/KRgHuoeGwBcD4Ng9SiP4dIRy0EXTlnuz47vAwmeGwVChigm" crossorigin="anonymous">
   <script src="https://kit.fontawesome.com/a076d05399.js"></script>

   <script type="text/javascript">
   	var user = '{{request.user}}'
   </script>

</head>
<body>


	
  <header class="header">
  	<div class="header1">
  		<a href="#" class="logo"><img src="image/1.jpg" width="200" height="50"></a>
  		<form action="" class="search-form">
  			<input type="search" name="" placeholder="search here..." id="search-box">
  			<label for="search-box" class="fas fa-search"></label>
  		</form>

  		<div class="icons">
  			<div id="search-btn" class="fas fa-search"></div>
  			 <div id="menu-btn" class="fas fa-bars"></div>
  			<a href="cart.html" class="fa fa-shopping-bag"><span>0</span></a>
  			
  			<div id="login-btn" class="fas fa-user"></div>
  		</div>
  	</div>
 
  	<div class="header2">
  		<nav class="navber">
  			<a class="active" href="index.html">home</a>
  			<a href="egyptian.html">egyptian wears</a>
  			<a href="malaysia.html">malaysia wears</a>
  			<a href="turkey.html">turkey wears</a>
  			<a href="dubai.html">dubai wears</a>
  			<a href="hijabs.html">hijabs</a>
  			<a href="bags.html">bag & shoes</a>
  			<a href="accessories.html">accessories</a>
  		</nav>
  	</div>
  </header>
  

  
  <!-- header section ends -->
  <header class="hero-section">
		<div class="content">
			<img src="image/1.jpg" class="logo" id="log-m" alt="">
			<p class="sub-heading">best fashion collection of all time</p>
		</div>
	</header>

  <!-- bottom navber -->



 <!--login form -->
 <div class="login-form-container">
 	<div id="close-login-btn" class="fas fa-times"></div>
 	<form action="">
 		<h3>sign in</h3>
 		<span>username</span>
 		<input type="email" name="" class="box" placeholder="enter your email" id="">
 		<span>password</span>
 		<input type="password" name="" class="box" placeholder="enter your password" id="">
 		<div class="checkbox">
 			<input type="checkbox" name="" id="remember-me">
 			<label for="remember-me"> remember me</label>
 		</div>
 		<input type="submit" name="" value="sign in" class="btn">
 		<p>forget password ? <a href="#">click here</a></p>
 		<p>don't have an account ?<a href="#">create one</a></p>
 	</form>
 </div>  	
 <!-- home section starts -->


 <section class="icons-container">
  <div class="icons">
 	<i class="fas fa-plane"></i>
 	<div class="content">
 		<h3> shipping</h3>
 		<p>order over</p>
 	</div>
 </div>	
 <div class="icons">
 	<i class="fas fa-lock"></i>
 	<div class="content">
 		<h3>secure payment</h3>
 		<p>100% secure payment</p>
 	</div>
 </div>	
 <div class="icons">
 	<i class="fas fa-truck"></i>
 	<div class="content">
 		<h3>deliveries available</h3>
 		<p>quick deliver</p>
 	</div>
 </div>	
  <div class="icons">
 	<i class="fas fa-headset"></i>
 	<div class="content">
 		<h3>24/7 support</h3>
 		<p>call us anytime</p>
 	</div>
 </div>	
 </section>
<!-- home section ense -->

<!-- featured section start -->
<section class="featured" id="featured">
	<h1 class="heading"><span>egyptian wears</span></h1>
	<div class="swiper featured-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/3.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" date-product={{product.id}} date-action="add" class="btn" class="update-cart">add to cart</a>
				</div>
			</div>


			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/28.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" class="btn">add to cart</a>
				</div>
			</div>


			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/38.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" class="btn">add to cart</a>
				</div>
			</div>

			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/27.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" class="btn">add to cart</a>
				</div>
			</div>

			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/22.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" class="btn">add to cart</a>
				</div>
			</div>

			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/21.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" class="btn">add to cart</a>
				</div>
			</div>
		</div>
		<div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
	</div>
	
</section>

<section class="featured" id="featured">
	<h1 class="heading"><span>egyptian wears</span></h1>
	<div class="swiper featured-slider">
		<div class="swiper-wrapper">
			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/20.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" class="btn">add to cart</a>
				</div>
			</div>


			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/19.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" class="btn">add to cart</a>
				</div>
			</div>


			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/18.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" class="btn">add to cart</a>
				</div>
			</div>

			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/36.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" class="btn">add to cart</a>
				</div>
			</div>

			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/25.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" class="btn">add to cart</a>
				</div>
			</div>

			<div class="swiper-slide box">
				<div class="icons">
					<a href="#" class="fas fa-search"></a>
					<a href="#" class="fas fa-heart"></a>
                     <a href="single.html" class="fas fa-eye"></a>
				</div>
				<div class="image">
					<img src="image/10.jpg" alt="">
				</div>
				<div class="content">
					<h3>egyptian wears</h3>
					<div class="price">#30,000<span>30,000</span></div>
					<a href="single.html" class="btn">add to cart</a>
				</div>
			</div>
		</div>
		<div class="swiper-button-next"></div>
      <div class="swiper-button-prev"></div>
	</div>
	
</section>
<!-- featured section ends -->

<!-- latest design starts -->
 <section class="latestdesign">
 	<form action="">
 		<h3>subscribe for latest updates</h3>
 		<input type="email" name="" placeholder="Enter your email" id="" class="box">
 		<input type="submit" value="subscribe" class="btn" name="">
 	</form>
 </section>
<!-- letter design ends -->

<!-- arrivals section start -->
   <section class="arrivals" id="arrivals">
   	<h1 class="heading"><span>new arrivals</span></h1>
   	<div class="swiper arrivals-slider">
   		<div class="swiper-wrapper">
   			<a href="#" class="swiper-slide box">
   				<div class="image">
   					<img src="image/9.jpg" alt="">
   				</div>
   				<div class="content">
   					<h3>new arrivals</h3>
   					<div class="price">#10,000<span>#30,000</span></div>
   					<div class="stars">
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star-half-alt"></i>
   					</div>
   				</div>
   			</a>
   			<a href="#" class="swiper-slide box">
   				<div class="image">
   					<img src="image/27.jpg" alt="">
   				</div>
   				<div class="content">
   					<h3>new arrivals</h3>
   					<div class="price">#10,000<span>#30,000</span></div>
   					<div class="stars">
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star-half-alt"></i>
   					</div>
   				</div>
   			</a>
   			<a href="#" class="swiper-slide box">
   				<div class="image">
   					<img src="image/38.jpg" alt="">
   				</div>
   				<div class="content">
   					<h3>new arrivals</h3>
   					<div class="price">#10,000<span>#30,000</span></div>
   					<div class="stars">
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star-half-alt"></i>
   					</div>
   				</div>
   			</a>
   			<a href="#" class="swiper-slide box">
   				<div class="image">
   					<img src="image/26.jpg" alt="">
   				</div>
   				<div class="content">
   					<h3>new arrivals</h3>
   					<div class="price">#10,000<span>#30,000</span></div>
   					<div class="stars">
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star-half-alt"></i>
   					</div>
   				</div>
   			</a>
   			<a href="#" class="swiper-slide box">
   				<div class="image">
   					<img src="image/28.jpg" alt="">
   				</div>
   				<div class="content">
   					<h3>new arrivals</h3>
   					<div class="price">#10,000<span>#30,000</span></div>
   					<div class="stars">
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star-half-alt"></i>
   					</div>
   				</div>
   			</a>
   		</div>
   	</div>

   	   	<div class="swiper arrivals-slider">
   		<div class="swiper-wrapper">
   			<a href="#" class="swiper-slide box">
   				<div class="image">
   					<img src="image/30.jpg" alt="">
   				</div>
   				<div class="content">
   					<h3>new arrivals</h3>
   					<div class="price">#10,000<span>#30,000</span></div>
   					<div class="stars">
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star-half-alt"></i>
   					</div>
   				</div>
   			</a>
   			<a href="#" class="swiper-slide box">
   				<div class="image">
   					<img src="image/57.jpg" alt="">
   				</div>
   				<div class="content">
   					<h3>new arrivals</h3>
   					<div class="price">#10,000<span>#30,000</span></div>
   					<div class="stars">
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star-half-alt"></i>
   					</div>
   				</div>
   			</a>
   			\<a href="#" class="swiper-slide box">
   				<div class="image">
   					<img src="image/61.jpg" alt="">
   				</div>
   				<div class="content">
   					<h3>new arrivals</h3>
   					<div class="price">#10,000<span>#30,000</span></div>
   					<div class="stars">
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star-half-alt"></i>
   					</div>
   				</div>
   			</a>
   			<a href="#" class="swiper-slide box">
   				<div class="image">
   					<img src="image/62.jpg" alt="">
   				</div>
   				<div class="content">
   					<h3>new arrivals</h3>
   					<div class="price">#10,000<span>#30,000</span></div>
   					<div class="stars">
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star-half-alt"></i>
   					</div>
   				</div>
   			</a>
   			<a href="#" class="swiper-slide box">
   				<div class="image">
   					<img src="image/66.jpg" alt="">
   				</div>
   				<div class="content">
   					<h3>new arrivals</h3>
   					<div class="price">#10,000<span>#30,000</span></div>
   					<div class="stars">
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star"></i>
   						<i class="fas fa-star-half-alt"></i>
   					</div>
   				</div>
   			</a>
   		</div>
   	</div>
   </section>

<!-- arrivals section ends -->
<!-- deal section starts -->
<section class="deal">
	<div class="content">
		<h3>deal of the days</h3>
		<h1>upto 50% off</h1>

	</div>
	<div class="image">
		<img src="image/14.jpg">
	</div>
</section>
<!-- deal section ends -->

<!-- footer section start -->
<section class="footer">
	<div class="box-container">
		<div class="box">
			<h3>location</h3>
			<a href="#"><i class="fas fa-map-marker-alt"></i>nigeran</a>
		</div>

		<div class="box">
			<h3>quick links</h3>
			<a href="#"><i class="fas fa-arrow-right"></i>home</a>
			<a href="#"><i class="fas fa-arrow-right"></i>egyptian wears</a>
			<a href="#"><i class="fas fa-arrow-right"></i>malaysia wears</a>
			<a href="#"><i class="fas fa-arrow-right"></i>turkey wears</a>
			<a href="#"><i class="fas fa-arrow-right"></i>dubai wears</a>
			<a href="#"><i class="fas fa-arrow-right"></i>hijabs</a>
			<a href="#"><i class="fas fa-arrow-right"></i>bags & shoes</a>
			<a href="#"><i class="fas fa-arrow-right"></i>accessories</a>
		</div>

		<div class="box">
			<h3>extra links</h3>
			<a href="#"><i class="fas fa-arrow-right"></i>account info</a>
			<a href="#"><i class="fas fa-arrow-right"></i>ordered items</a>
			<a href="#"><i class="fas fa-arrow-right"></i>privacy policy</a>
			<a href="#"><i class="fas fa-arrow-right"></i>payment method</a>
			<a href="#"><i class="fas fa-arrow-right"></i>our serivces</a>
		</div>

		<div class="box">
			<h3>contact info</h3>
			<a href="#"><i class="fas fa-phone"></i> +234-807-162-1951</a>
			<a href="#"><i class="fas fa-phone"></i> +234-817-987-3664</a>
			<a href="#"><i class="fas fa-envelope"></i> aminah.popoola@gmail.com</a>
			<img src="image/72.png" class="map" alt="">
		</div>
   </div>

		<div class="share">
			<a href="https://www.facebook.com/aminah.ummuani" class="fab fa-facebook-f"></a>
			<a href="#" class="fab fa-instagram"></a>
			<a href="#" class="fab fa-twitter"></a>
			<a href="https://wa.me/message/Q6UHA3NHE2AIO1" class="fab fa-whatsapp"></a>
			<a href="#" class="fab fa-linkedin"></a>
			<a href="#" class="fab fa-pinterest"></a>
		</div>

     <div class="credit">vcnvcndvbv;/;lefjgvobhvs<span>jcfdtv </span> ;ydcfqeunSBFYDGWLKJBVHYFFVB</div>

</section>
<!-- footer section ends -->
<!-- loader -->


<div class="loader-container">
	<img src="image/76.gif" alt="">
</div>

<!-- custom js file link -->
<script src="https://unpkg.com/swiper@8/swiper-bundle.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/lids/jquery/3.3.1/jquery.min.js"></script>
 <script type="text/javascript" src="script.js"></script>
</body>
</html>